{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ page_title or "fl_mail" }}
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href={{ url_for('main.home') }} >Home</a>
    <a class="navbar-brand" href={{ url_for('mails.contact_us') }} >Contact Us</a>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
  <div class='container'>
  
    {% block content_flashed_messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages %}
           <div class="alert alert-{{ category }}">
             {{ message }}
           </div>
         {% endfor %}
       {% endif %}
      {% endwith %}
    {% endblock content_flashed_messages %}

    <h1>{{ page_title or "fl_mail" }}</h1>

    {% block content_form %}
      {% if form %}
        {{ wtf.quick_form(form, button_map={'submit_button':'primary'}) }}
      {% endif %}
    {% endblock content_form %}

    <section>
    {% block content_section %}
    {% endblock content_section %}
    </section>

  
  </div>
{% endblock content %}
