{% extends 'bootstrap/base.html' %}

{% block title %}
  {{ page_title or "Flask Project" }}
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href={{ url_for('main.home') }} >Menu1</a>
    <a class="navbar-brand" href={{ url_for('main.home') }} >Menu2</a>
  </div>
</nav>
{% endblock navbar %}

