{% extends 'layouts/default.html' %}
{% block body %}
<h1>Blog( {{ pluralize(articles|length, 'article') }})</h1>

{% for article in articles %}

<article>

  <h2>
    <a href="/blog/articles/{{ article.id }}">
      #{{article.id}} - {{ article.title|upper }}
    </a>
  </h2>

  <p>{{ article.content }}</p>

</article>

<hr>

{% endfor %}

{% endblock body %}
