{% extends 'layouts/default.html' %}
{% block body %}
<article>
  <h2>
    <a href="{{ url_for('articles_show',id=article.id) }}">
      #{{article.id}} - {{ article.title|upper }}
    </a>
  </h2>
  <p>{{ article.content }}</p>
  <p><a href="{{ url_for('articles_index') }}">Blog</a></p>
</article>
{% endblock body %}
