{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ page_title or "Fl Login Complete" }}
{% endblock title %}

{% block navbar %}
  <nav class="navbar navbar-inverse navbar-default">
    <div class='container'>
    <div class="navbar-header">
      <a class="navbar-brand" href={{ url_for('main.index') }}>Home</a>
      {% if current_user.is_authenticated %}
      <a class="navbar-brand" href={{ url_for('main.dashboard') }}>Dashboard</a>
      <a class="navbar-brand" href={{ url_for('users.logout') }}>Logout</a>
      {% else %}
      <a class="navbar-brand" href={{ url_for('users.login') }}>Login</a>
      <a class="navbar-brand" href={{ url_for('users.register') }}>Register</a>
      {% endif %}
    </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}

<div class='container'>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if form %}
    {{ wtf.quick_form(form, button_map={'submit_button':'primary'}) }}
  {% endif %}
</div>

{% endblock content %}
