{% extends "layout/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
{{ super() }}
  <div class='container'>
    <h1>Welcome, {{ name }}</h1>
  </div>

{% endblock %}
