{% extends "layout/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}

{% block content %}
{{ super() }}
<div class='container'>
<h1>Fl Login Complete</h1>
</div>
{% endblock %}
