<nav>
  <ul>
    {# {{ url_for('nom_fonction_page') }} #}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
    <li><a href="{{ url_for('articles_index') }}">Blog</a></li>
  </ul>
</nav>
