{% extends 'bootstrap/base.html' %}

{% block title %}
  {{ page_title or "Fl Login" }}
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href={{ url_for('main.home') }} >Menu1</a>
    <a class="navbar-brand" href={{ url_for('users.login') }} >Log In</a>
    <a class="navbar-brand" href={{ url_for('users.logout') }} >Log Out</a>
    <a class="navbar-brand" href={{ url_for('users.current') }} >Current User</a>
  </div>
</nav>
{% endblock navbar %}
