{% extends 'bootstrap/base.html' %}

{% block title %}
  {{ page_title or "Fl SQLAlchemy" }}
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href={{ url_for('main.home') }} >Home</a>
    <a class="navbar-brand" href={{ url_for('users.add_user') }} >Add User</a>
    <a class="navbar-brand" href={{ url_for('users.list_users') }} >List Users</a>
    <a class="navbar-brand" href={{ url_for('posts.add_post') }} >Add Post</a>
    <a class="navbar-brand" href={{ url_for('posts.list_posts') }} >List Posts</a>
  </div>
</nav>
{% endblock navbar %}
