 <head>
  <meta charset="UTF-8">
</head> 
<body>
<h1>README</h1>

<p>sous CENTOS</p>

<ul>
<li>VSFTPD configuré en mode SSL</li>
<li>les utilisateurs sont chroot dans leur home</li>
<li>le chroot autorise que les utilisateurs écrivent dans leur dossier (sinon il faut retire w du home)</li>
</ul>

<h2>SOURCES</h2>

<ul>
<li>https://www.digitalocean.com/community/tutorials/how-to-configure-vsftpd-to-use-ssl-tls-on-a-centos-vps</li>
<li>https://www.liquidweb.com/kb/error-500-oops-vsftpd-refusing-to-run-with-writable-root-inside-chroot-solved/</li>
</ul>
</body>
