{% extends 'layout/default.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

  <h1>{{ page_title }}</h1>
  <form method="POST" action="{{ url_for('users.add_user') }}">

  {{ wtf.quick_form(form) }}



</div>
{% endblock content %}
