{% extends 'layout/default.html' %}

{% block content %}
<div class="container">

  <h1>Hello, Fl SQLAlchemy</h1>

</div>
<div class="col-md-8">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
  
{% endblock content %}
