{% extends 'layout/default.html' %}

{% block content %}
<div class="container">

  <h1>Hello, Fl SQLAlchemy</h1>

  <ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">{{ user.username }} : {{ user.email }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
