{% extends 'layout/default.html' %}

{% block content %}
<div class="container">

  <h1>Hello, Fl SQLAlchemy</h1>
  
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p class="lead"><i class="fa fa-user"></i> by {{ post.author.username }} </p>
    <p><i class="fa fa-calendar"></i> Posted on {{ post.date_posted }}</p>
    <p> {{ post.content }}</p>
    {% endfor %}

</div>
{% endblock content %}
