{% extends 'bootstrap/base.html' %}

{% block title %}
  {{ page_title or "Fl WTF Bootstrap" }}
{% endblock title %}

{% block navbar %}
  <nav class="navbar navbar-inverse navbar-default">
    <div class='container'>
    <div class="navbar-header">
      <a class="navbar-brand" href={{ url_for('home') }}>Home</a>
      <a class="navbar-brand" href={{ url_for('form.form_wtf_only') }}>Form WTF Only</a>
      <a class="navbar-brand" href={{ url_for('form.form_wtf_flaskbootstrap') }}>Form WTF FlaskBootstrap</a>
      <a class="navbar-brand" href={{ url_for('form.form_wtf_quick') }}>Form QuickForm</a>
    </div>
    </div>
  </nav>
{% endblock navbar %}
