<!--CREER un formulaire texte pour $_POST
dans du code HTML-->
<form method="post" action="traitement_creation.php">
	<p>
<!--clef pseudo: $_POST['pseudo']-->
	pseudo<br />
	<input type="text" name="pseudo" /><br />
<!--clef mot de passe $_POST['password']-->
	mot de passe<br />
	<input type="password" name="password" /><br />
<!--clef Titre $_POST['titre']-->
	Titre<br />
	<input type="text" name="titre" /><br />
<!--clef message $_POST['message'] -->
	zone de texte<br />
	<textarea name="message"></textarea><br />

<!--SUBMIT bouton pour envoyer le formulaire-->
	<input type="submit" value="Valider" />
	</p>
</form>
