{% extends 'bootstrap/base.html' %}

{# ajout de style au block style #}
{#{% block styles %}#}
  {#{{super()}}#}
  {#<link rel="stylesheet"#}
  {#      href="{{url_for('static', filename='mystyle.css')}}">#}
  {# the static/mystyle.css file must exists #}
{#{% endblock %}#}

{%block content %}

<div class="alert alert-success" role="alert">
 This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
{%endblock content %}
  
{# ajout de scripts au block scripts #}
{%block scripts %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
{%endblock scripts %}
