{# macro generant des champs de saisie #}
{% macro render_field(field) %}

{{ field.label }}
{{ field(**kwargs)|safe }}
<ul>
{% for error in field.errors %}
  <li style="color:red">{{ error }}</li>
{% endfor %}
</ul>

{% endmacro %}

{# macro generant des radios #}
{% macro render_radiofield(field) %}

{{ field.label }}
{{ field(**kwargs)|safe }}
<ul>
{% for error in field.errors %}
  <li style="color:red">{{ error }}</li>
{% endfor %}
</ul>

{% endmacro %}
{% macro render_buttonfield(field) %}

{{ field(**kwargs)|safe }}
<ul>
{% for error in field.errors %}
  <li style="color:red">{{ error }}</li>
{% endfor %}
</ul>

{% endmacro %}
