{% extends 'layout/default.html' %}

{# Utilisation à minima de bootstrap #}
{# Utilisation des fonctionnalités de macro de wtf #}
{% from '_render_field.html' import render_field, render_radiofield, render_buttonfield %}


{% block content %}
<div class="container">

<h1> {{ page_title }}</h1>

<form method="POST" action="{{ url_for('form.form_wtf_only') }}">
  
  {{ form.csrf_token }}

  {{ render_field(form.username, placeholder=form.username.label.text) }}
  {{ render_field(form.password, placeholder=form.password.label.text) }}
  {{ render_field(form.select) }}
  {{ render_radiofield(form.radio) }}
  {{ render_buttonfield(form.submit_button, class='btn btn-primary') }}

</form>

</div>


{% endblock content %}
