{% extends 'layout/default.html' %}

{# Utilisation à des fonctionnalités WTF de Flaskbootstrap #}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

<h1>{{ page_title }}</h1>

<form method="POST" action="{{ url_for('form.form_wtf_flaskbootstrap') }}">
  
  {{ form.csrf_token }}

  {{ wtf.form_field(form.username, placeholder=form.username.label.text) }}
  {{ wtf.form_field(form.password, placeholder=form.password.label.text) }}
  {{ wtf.form_field(form.select) }}
  {{ wtf.form_field(form.radio) }}
  {{ wtf.form_field(form.submit_button, class='btn btn-primary') }}

</form>

</div>


{% endblock content %}
