{% extends 'layout/default.html' %}

{# Utilisation à des fonctionnalités WTF de Flaskbootstrap #}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

<h1>{{ page_title }}</h1>

<p>Quick_form ne gère pas les erreurs de validation</p>

<form method="POST" action="{{ url_for('form.form_wtf_quick') }}">

  {#{{ wtf.quick_form(form) }}#}
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

</form>

</div>


{% endblock content %}
