{% extends 'layout/default.html' %}

{% block content %}

  <h1>Success</h1> 
  <ul>
    <li>{{ username }}</li>
    <li>{{ password }}</li>
    <li>{{ select }}</li>
    <li>{{ radio }}</li>
  </ul>


{% endblock content %}
