{% extends 'layouts/default.html' %}
{% block body %}

<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file id="media" name=file>
    <input type="submit">
</form>

<div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div>

</div>
{% endblock body %}
